body {
    display: flex;
    flex-direction: column;
}
.header, .body {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-right: 250px;
}
.header {
    background-color: #1f2937;
    color: white;
    justify-content: center;
}
.body {
    text-align: center;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-top: 16px;
    padding-bottom: 16px;
}
.top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    vertical-align: middle;
    padding-bottom: 50px;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 50px;
}
.left {
    width: 400px;
    height: auto;
    text-align: left;
    align-items: center;
}
.logo {
    font-weight: bold;
    font-size: 24px;
    color: #fdfaf8;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    gap: 16px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 32px;
    padding-left: 300px;
    padding-right: 300px;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #e5e7eb;
    gap: 10px;
}
.button {
    background-color: #3882f6;
    font-size: 12px;
    color: #e5e7eb;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: #3882f6;
    border-radius: 8px;
}
h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
.img {
    width: 400px;
    height: 200px;
}
.info img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    padding: 5px;
}
.quote .writer {
    text-align: right;
    font-weight: bold;
    color: #1f2937;
    font-style: normal;
}
.saying {
    margin-bottom: 0;
}