body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 250px;
    padding-right: 250px;
   

}
.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    vertical-align: middle;
    padding-bottom: 50px;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 50px;
}
.left {
    width: 400px;
    height: auto;
    text-align: left;
    align-items: center;
}
.logo {
    font-weight: bold;
    font-size: 24px;
    color: #fdfaf8;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.info {
    display: flex;
    flex-direction: row;
    
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #e5e7eb;
    gap: 10px;
}
.button {
    background-color: #3882f6;
    font-size: 12px;
    color: #e5e7eb;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: #3882f6;
    border-radius: 8px;
}
h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
img {
    width: 400px;
    height: 200px;
}